{% extends "base.html" %}

{% block title %}Distinguished Active Members{% endblock %}

{% block content %}
<h1>Distinguished Active Members</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Requirement</th>
      <th>Requirement Complete</th>
      <th>Social Event</th>
    </tr>
  </thead>
  <tbody>
    {% for member in member_list %}
    <tr>
      <td>{{ member }}</td>
      <td>{{ member.get_requirement_choice_display }}</td>
      <td>{% if member.requirement %}<i class="icon-ok"></i>{% endif %}</td>
      <td>{% if member.social_complete %}<i class="icon-ok"></i>{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
