{% extends "base.html" %}

{% block title %}Cardboard Boat Race{% endblock %}

{% block content %}
<!-- TITLE --> 
<div class="row-fluid">
    <div class="span12" style="margin-bottom:20px">
    
    <!--<h4>Tau Beta Pi Presents:</h4>--> <!--optional-->
    <h1>Cardboard Boat Race!</h1>
    </div>
</div>

<div class="row-fluid">
    <div class="span8"> 
    <p> TBP presents, in partner with the Office of Residental Life and the Engineering Alumni Association, this year's cardboard boat race! Bring your friends and join us at the SAC pool on the Saturday of 7th week (5/18) to build your best watercraft possible from cardboard and duct tape, and race it across the water against other teams' creations. Best time wins! Prizes for your success include: 
    <dl class="dl-horizontal">
    <dt>First Place:</dt>
    <dd>$100</dd>
    <dt>Second Place: </dt>
    <dd>$50</dd>
    <dt>Third Place: </dt>
    <dd>$25</dd>
    <dt>Fan Favorite:</dt>
    <dd>$25</dd>
    </dl>
	<p> Teams will have three hours to build their boats; races will be conducted afterwards. TBP will provide all cardboard, duct tape and paddles for construction. 
    <p> Registration opening soon! 

    </div>
    

    <div class="span4">
      <table class="table">
           <tr>
           <th>Date:</th>
           <td>Sat, 05/18/2013</td>
           </tr>
           <tr>
           <th>Time:</th>
           <td>10:30AM-03:30PM</td>
           </tr>
           <tr>
           <th>Location:</th>
           <td>SAC Pool</td>
           </tr>
           <tr>
           <th>Event Type:</th>
           <td>Project</td> <!-- project, social event, mandatory, etc-->
           <tr>
           </tr>
      </table>
      <img src="static/img/cb_race.jpg" width="500"></img> 
      <br>
    </div>
</div>

<div class="row">
    <div class="span12" style="margin-top:15px">        
    <p><strong>Questions? Contact: <a href="mailto:tbp.events@gmail.com">tbp.events@gmail.com</a></strong>
    </div> 
</div>
{% endblock %}
