{% extends "base.html" %}

{% block title %}Candidates{% endblock %}

{% block content %}
<div class="row-fluid">
<h1 style="margin-bottom:20px">Engineering Minds Cultivating Creativity</h1>
<div class="span8">
	<h4>What is EMCC?</h4>

	<p> One of Tau Beta Pi's main missions is community outreach. Engineering Minds Cultivating Creativity (EMCC) fulfills this mission, serving as our chapter's primary education outreach program. The purpose of EMCC is to expose young schoolchildren to higher-level math and science concepts, providing them a foundation for careers in engineering and other science-related fields.<p>The main goal of our program is to cultivate a love of math and science in these schoolchildren - with that in mind, our lessons are designed with fun in mind! Our interactive projects have included straw towers, home-made ice cream, bottle rockets, and more...don't miss out!</p>	

	<h4>How to Get Involved</h4>
	
	<p>EMCC is a weekly program, and we try to accommodate as many participants as we can. We meet once a week at 2:30 PM at Ackerman Turnaround and take a short drive to Nora Sterry Elementary School. In most cases, we are back at UCLA by 5:00 PM.

	<p>To get involved, simply <a href="mailto:taubetapi@seas.ucla.edu">e-mail us</a>and indicate your interest, or contact the Education Outreach Chairs Albert Yen and Nick Ware

	<h4>Benefits for You</h4>

	<p>Participating in EMCC fulfills the service component required for Distinguished Active status. Plus, you are granted the opportunity to impact a child's education and future. Why not get involved?

	<p>If you have any questions, please don't hesitate to contact us at any time. EMCC has been one of the greatest parts of our Tau Beta Pi experience, and we hope that you join us in the near future. 

</div>
<div class="span4">
</div>
</div>
{% endblock %}
