{% extends "base.html" %}

{% block title %}{{ event.name }}{% endblock %}

{% block content %}
<!-- TITLE --> 
<div class="row-fluid">
    <div class="span12" style="margin-bottom:20px">
    
        <h4>Tau Beta Pi Presents:</h4> <!--optional-->
        <h1>{{ event.name }}</h1>
    </div>
</div>

<div class="row-fluid">
    <div class="span8"> 
        {% autoescape off %}
        {{ event.description }}
        {% endautoescape %}
    </div>
    <div class="span4">
        <table class="table">
            <tr>
				{% if event.is_same_day %}
                <th>Date:</th>
                <td>
				{{ event.get_date }}
                </td>
				{% else %}
                <th>Start:</th>
                <td>
				{{ event.get_start }}
                </td>
				{% endif %}
            </tr>
            <tr>
				{% if event.is_same_day %}
                <th>Time:</th>
                <td>
				{{ event.get_time }}
                </td>
				{% else %}
                <th>End:</th>
                <td>
				{{ event.get_end }}
                </td>
				{% endif %}
            </tr>
            <tr>
                <th>Location:</th>
                <td>{{ event.location }}</td>
            </tr>
            <tr>
                <th>Event Type:</th>
                <td>{{ event.get_event_type_display }}</td> <!-- project, social event, mandatory, etc-->
            </tr>
        </table>
		<img src="{% if event.image %}/media/{{ event.image.url }}{% endif %}"> 
    		<p><strong>Questions? Contact: <a href="mailto:tbp.events@gmail.com">tbp.events@gmail.com</a></strong>
    </div>
</div>

{% endblock %}
