{% extends "base.html" %}

{% block title %}{{ event.name }}{% endblock %}

{% block content %}
<!-- TITLE --> 
<div class="row">
    <div class="span12" style="margin-bottom:20px">
    
        <h4>Tau Beta Pi Presents:</h4> <!--optional-->
        <h1>{{ event.name }}</h1>
    </div>
</div>

<div class="row">
    <div class="span8"> 
        {% autoescape off %}
        {{ event.description }}
        {% endautoescape %}
    </div>
    <div class="span4">
        <table class="table">
            <tr>
                <th>Date:</th>
                <td>{{ event.get_date }}</td>
            </tr>
            <tr>
                <th>Time:</th>
				<td>{{ event.get_time }}</td>
            </tr>
            <tr>
                <th>Location:</th>
                <td>{{ event.location }}</td>
            </tr>
            <tr>
                <th>Event Type:</th>
                <td>{{ event.get_event_type_display }}</td> <!-- project, social event, mandatory, etc-->
            </tr>
        </table>
		<img src="{% if event.image %}/media/{{ event.image.url }}{% endif %}"> 
        <br>
    </div>
</div>

<div class="row">
    <div class="span12" style="margin-top:15px">        
    <p><strong>Questions? Contact: <a href="mailto:tbp.events@gmail.com">tbp.events@gmail.com</a></strong>
    </div> 
</div>
{% endblock %}
