{% extends "base.html" %}

{% block title %}FE Test Preparation Materials{% endblock %}

{% block content %}

<h1>FE Test Preparation Materials</h1>

<div class="row">
  <div class="span8">
    <p>We are offering this book for $70 with free shipping! 
    This is the best offer one can get, saving over $20 on the price you would pay on Amazon! 
    If you are interested, please fill out the google order form at: <a href="http://tinyurl.com/tbpFEprep">http://tinyurl.com/tbpFEprep</a>. 
    You may either pay us $70 in cash or check in person when you pick up the book or pay us $73 through paypal (link provided on the google form). 
    Also, if you have been referred to this FE sale by another engineering club on campus, they can get a percentage of the profits! 
    Pick up will be at Boelter 6266. After you submit this order form, we will contact you to arrange a pick-up time.

    <p>Contact us at <a href="mailto:tbp.cae.fe@gmail.com">tbp.cae.fe@gmail.com</a> or <a href="mailto:taubetapi@seas.ucla.edu">taubetapi@seas.ucla.edu</a> if you have any questions!
  </div>
  <div class="span4">
    <img src="static/img/fe.jpg" alt="FE Test Preparation Materials" />
  </div>
</div>

{% endblock %}
