{% extends "base.html" %}

{% block title %}House Points{% endblock %}

{% block content %}

<h1>House Points</h1>

<p>Each initiation quarter, candidates and officers will be divided into four houses - Tau, Beta, Pi, and Epsilon - and will compete throughout the quarter to earn points for their house. The house that earns the most points by the end of the quarter will win the honor of Top House, as well as a special prize.

<h4>Ways to Earn House Points:</h4>

<ul>
  <li>First three houses to turn in Professor Interview/Resume (1st: 25, 2nd: 10, 3rd: 5)</li>
  <li>Best candidate signature book (1st: 25, 2nd: 10, 3rd: 5)</li>
  <li>Best candidate quiz score (1st: 25, 2nd: 10, 3rd: 5)</li>
  <li>Attending info-sessions (5 per event)</li>
  <li>Complete extra tutoring hours (1 per hour, max 5 per week)</li>
  <li>Extra community service events (5 per event)</li>
  <li>Attend extra social events (5 per event, 50 if entire house attends extra social)</li>
  <li>Win games at social events (1st: 25, 2nd: 10, 3rd: 5)</li>
</ul>

<table class="table table-striped">
  <th></th>
  {% for house in houses %}
  <th>{{ house }}</th>
  {% endfor %}
  <tr>
    <td>Resume</td>
    {% for house in houses %}
    <td>{{ house.resume_points }}</td>
    {% endfor %}
  </tr>
  <tr>
    <td>Professor Interview</td>
    {% for house in houses %}
    <td>{{ house.professor_interview_points }}</td>
    {% endfor %}
  </tr>
  <tr>
    <td>Signature Book</td>
    {% for house in houses %}
    <td>{{ house.signature_book_points }}</td>
    {% endfor %}
  </tr>
  <tr>
    <td>Candidate Quiz</td>
    {% for house in houses %}
    <td>{{ house.candidate_quiz_points }}</td>
    {% endfor %}
  </tr>
  <tr>
    <td>Social</td>
    {% for house in houses %}
    <td>{{ house.social }}</td>
    {% endfor %}
  </tr>
  <tr>
    <td>Tutoring</td>
    {% for house in houses %}
    <td>{{ house.tutoring }}</td>
    {% endfor %}
  </tr>
  <tr>
    <td>Community Service</td>
    {% for house in houses %}
    <td>{{ house.community_service }}</td>
    {% endfor %}
  </tr>
  <tr>
    <td>Other</td>
    {% for house in houses %}
    <td>{{ house.other_points }}</td>
    {% endfor %}
  </tr>
  <tr>
    <td>Total</td>
    {% for house in houses %}
    <td>{{ house.points }}</td>
    {% endfor %}
  </tr>
</table>

{% endblock %}
