{% extends "base.html" %}

{% block title %}Contact Officers{% endblock %}

{% block content %}

<h1>Contact</h1>

<p>For any questions or comments, feel free to email us at 
<a href="mailto:taubetapi@seas.ucla.edu">taubetapi@seas.ucla.edu</a>.

<p>You can also stop by the Tau Beta Pi tutoring room on the 6th floor of Boelter (Room 6266) if you want to say hi!

<h1>Officers</h1>

<h4>Officers for {{ term }}</h4>
<table class="table">
  {% for position in positions %}
  <tr>
    <th>{{ position.0 }}</th>
    <td>{{ position.1.0 }}</td>
  </tr>
    {% for officer in position.1|slice:"1:" %}
  <tr>
    <td></td>
    <td>{{ officer }}</td>
  </tr>
    {% endfor %}
  {% endfor %}
</table>

{% endblock %}
