{% extends "base.html" %}

{% block title %}Tau Beta Pi presents our 2nd Annual Charity Poker Tournament!{% endblock %}

{% block content %}
<!-- TITLE --> 
<div class="row">
    <div class="span12" style="margin-bottom:20px">
    
    <h4>Tau Beta Pi Presents:</h4>
    <h1>2nd Annual Charity Poker Tournament!</h1>
    </div>
</div>

<div class="row">
    <div class="span8"> 
    <p class="text-error"> <span class="label label-important">Reminder</span>

    The tournament is <strong>this Wednesday!</strong> </p>
    <p>
    Sign in begins at 6:30PM, so prepare to come early! Open play begins at 7:00PM. 
    Click <a href="http://career.ucla.edu/Students/JSJS/Venues/BoelterHallPenthouse.aspx">here</a>
    for directions on how to get to the Penthouse. 
    If you didn't get a chance to sign up, no worries! 
    You can buy in at the door for $15. 
    Remember there are fantastic prizes to win, and all proceeds benefit TBP's Engineering Outreach Program, so come join us and have fun!
    </p>
    <br />
    <br />
    <div class="muted">
    <p> TBP is proud to host its 2nd Annual Charity Poker Tournament Wednesday, March 6th at the Boelter Penthouse! All proceeds go to TBP's EMCC Engineering Education Outreach Program. Come test your No Limit Texas Hold'em wits against the brightest minds in UCLA. Outwit, outsmart, and outplay your oppotnents as you advance in the tournament. You might just be good enough (or lucky enough) to win yourself some fantastic prizes: </p>

    <blockquote >
    <strong>Prizes:</strong>
    <dl class="dl-horizontal">
        <dt>First Place:</dt>
        <dd>Nexus 7</dd>
        <dt>Second Place: </dt>
        <dd>2 tickets to Six Flags Magic Mountain</dd>
        <dt>Third Place: </dt>
        <dd>$25 Amazon Gift Card</dd>
    </dl>
    </blockquote> 
    <p> Space is limited! Register early to guarantee yourself a seat! </p> 
    </div>
    
    </div> 
    <div class="span4">
      <img src="http://placehold.it/500x500" class="img-rounded"> 
      <br>
      <table class="table">
           <tr>
           <th>Date:</th>
           <td>March 6, 2013</td>
           </tr>
           <tr>
           <th>Time:</th>
           <td>7:00PM-10:00PM</td>
           </tr>
           <tr>
           <th>Location:</th>
           <td>Boelter Penthouse</td>
           </tr>
           <tr>
           <th>Event Type:</th>
           <td>Project</td>
           <tr>
           </tr>
      </table>
    </div>
</div>

<div class="row">
    <div class="span12" style="margin-top:15px">        
    <p><strong>Questions? Contact: <a href="mailto:tbp.events@gmail.com">tbp.events@gmail.com</a></strong>
    </div> 
</div>
{% endblock %}
