{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Profile</a></li>
  <li><a href="{% url 'main.views.edit' %}">Edit</a></li>
  <li><a href="{% url 'main.views.add' %}">Modify Classes</a></li>
</ul>
<div class="row">
  <div class="col-lg-6">
    <form class="form-horizontal">
      <fieldset>
        <legend>Personal Information</legend>
        <div class="form-group">
          <label class="col-lg-4 control-label">Email</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ user.email }}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">First Name</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ user.first_name }}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Last Name</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ user.last_name }}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Nickname</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ profile.nickname }}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Gender</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ profile.get_gender_display }}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Birthday</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ profile.birthday }}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Phone Number</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ profile.phone_number }}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Major</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ profile.get_major_display }}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Graduation Term</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ profile.graduation_term }}</p>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Documents</legend>
        <div class="form-group">
          <label class="col-lg-4 control-label" for="resume_word">Resume (word)</label>
          <div class="col-lg-8">
            {% if profile.resume_word %}
            <a href="{% url 'main.views.resume_word' %}"><p class="form-control-static">Last upload: {{ profile.resume_word }}</p></a>
            {% else %}
            <p class="form-control-static">Last upload: {{ profile.resume_word }}</p>
            {% endif %}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label" for="resume_pdf">Resume (pdf)</label>
          <div class="col-lg-8">
            {% if profile.resume_pdf %}
            <a href="{% url 'main.views.resume_pdf' %}"><p class="form-control-static">Last upload: {{ profile.resume_pdf }}</p></a>
            {% else %}
            <p class="form-control-static">Last upload: {{ profile.resume_pdf }}</p>
            {% endif %}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label" for="professor_interview">Professor Interview</label>
          <div class="col-lg-8">
            {% if profile.professor_interview %}
            <a href="{% url 'main.views.interview' %}"><p class="form-control-static">Last upload: {{ profile.professor_interview }}</p></a>
            {% else %}
            <p class="form-control-static">Last upload: {{ profile.professor_interview }}</p>
            {% endif %}
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Tutoring Preferences</legend>
        <div class="form-group">
          <label class="col-lg-4 control-label">Best Day</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ profile.get_day_1_display }} {{ profile.get_hour_1_display }}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Second Best Day</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ profile.get_day_2_display }} {{ profile.get_hour_2_display }}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Third Best Day</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ profile.get_day_3_display }} {{ profile.get_hour_3_display }}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Classes</label>
          <div class="col-lg-8">
            <ul class="list-unstyled">
              {% for class in profile.classes.all %}
              <li>{{ class }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </fieldset>
    </form>
  </ul>
</div>
<div class="col-lg-6">
  <h4>{{ profile.get_position_display }}</h4>
  {% if profile.position == "0"%}
  <p>Requirements:</p>
  {% else %}
  <p>Distinguished Active Terms:</p>
  {% endif %}
  <table class="table">
    {% for detail in details %}
    <tr>
      <td>{{ detail.0 }}</td>
      <td>{{ detail.1 }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
