{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Profile</a></li>
  <li><a href="{% url 'main.views.edit' %}">Edit</a></li>
</ul>
<div class="row">
  <div class="col-lg-6">
    <form class="form-horizontal">
      <fieldset>
        <div class="form-group">
          <label class="col-lg-4 control-label">Username</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ user.get_username }}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 control-label">Email</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ user.email }}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">First Name</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ user.first_name }}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Last Name</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ user.last_name }}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 control-label">Major</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ profile.get_major_display }}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Graduation Term</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ profile.graduation_term }}</p>
          </div>
        </div>
        <hr />
        <div class="form-group">
          <label class="col-lg-4 control-label" for="resume_word">Resume (word)</label>
          <div class="col-lg-8">
            {% if profile.resume_word %}
            <a href="{% url 'main.views.resume_word' %}">Last upload: {{ profile.resume_word }}</a>
            {% else %}
            <span class="help-inline">Last upload: {{ profile.resume_word }}</span>
            {% endif %}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label" for="resume_pdf">Resume (pdf)</label>
          <div class="col-lg-8">
            {% if profile.resume_pdf %}
            <a href="{% url 'main.views.resume_pdf' %}">Last upload: {{ profile.resume_pdf }}</a>
            {% else %}
            <span class="help-inline">Last upload: {{ profile.resume_pdf }}</span>
            {% endif %}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label" for="professor_interview">Professor Interview</label>
          <div class="col-lg-8">
            {% if profile.professor_interview %}
            <a href="{% url 'main.views.interview' %}">Last upload: {{ profile.professor_interview }}</a>
            {% else %}
            <span class="help-inline">Last upload: {{ profile.professor_interview }}</span>
            {% endif %}
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-lg-6">
    <h4>{{ profile.get_position_display }}</h4>
    <p>Distinguished Active Terms:</p>
      <table class="table">
        {% for active in actives %}
        <tr>
          <td>{{ active.term }}</td>
          <td>{% if active.completed %}Completed{% else %}In Progress{% endif %}</td>
        </tr>
        {% endfor %}
      </table>
</div>

{% endblock %}
