{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

{% if error.success %}
<p class="text-success">Changes saved succesfully</p>
{% endif %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset>  
    <legend>Profile</legend>

    {% if error.incorrect_password %}
    <div class="control-group error">
      <label class="control-label" for="inputError">Current Password</label>
      <div class="controls">
        <input type="password" name="current_password">
        <span class="help-inline">Incorrect password</span>
      </div>
    </div>
    {% else %}
    <label>Current Password</label>
    <input type="password" name="current_password">
    {% endif %}
    <span class="help-block">Required if changing username or password</span>

    {% if error.username_taken %}
    <div class="control-group error">
      <label class="control-label" for="inputError">Username</label>
      <div class="controls">
        <input type="text" name="username" value="{{ user.get_username }}" required>
        <span class="help-inline">Username has already been taken</span>
      </div>
    </div>
    {% else %}
    <label>Username</label>
    <input type="text" name="username" value="{{ user.get_username }}" required>
    {% endif %}

    {% if error.non_matching_password %}
    <div class="control-group error">
      <label class="control-label" for="inputError">New Password</label>
      <div class="controls">
        <input type="password" name="new_password">
        <span class="help-inline">Passwords do not match</span>
      </div>
    </div>
    {% else %}
    <label>New Password</label>
    <input type="password" name="new_password">
    {% endif %}

    <label>Confirm Password</label>
    <input type="password" name="confirm_password">
    <label>Email</label>
    <input type="email" name="email" value="{{ user.email }}" required>
    <label>First Name</label>
    <input type="text" name="first_name" value="{{ user.first_name }}" required>
    <label>Last Name</label>
    <input type="text" name="last_name" value="{{ user.last_name }}" required>

    <label>Major</label>
    <select name="major">
      {% for major in majors %}
      <option value="{{ major.0 }}"{{ major.2 }}>{{ major.1 }}</option>
      {% endfor %}
    </select>
    <label>Graduation Term</label>
    <select name="graduation_quarter">
      {% for quarter in quarters %}
      <option value="{{ quarter.0 }}"{{ quarter.2 }}>{{ quarter.1 }}</option>
      {% endfor %}
    </select>
	<input type="text" name="graduation_year" 
	{% if term.year %}value="{{ term.year }}"{% endif %} required>
    <br />
    <label>Resume</label>
    <span class="help-inline">Please submit PDF files.</span>
    <br />
    <input type="file" name="resume">
    <br />
    {% if profile.resume %}
    <a href="{% url 'main.views.resume' %}">Last upload: {{ profile.resume }}</a>
    {% else %}
    <span class="help-inline">Last upload: {{ profile.resume }}</span>
    {% endif %}
    <label>Professor Interview</label>
    <input type="file" name="professor_interview">
    <br />
    {% if profile.professor_interview %}
    <a href="{% url 'main.views.interview' %}">Last upload: {{ profile.professor_interview }}</a>
    {% else %}
    <span class="help-inline">Last upload: {{ profile.professor_interview }}</span>
    {% endif %}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Save changes</button>
      <button type="button" class="btn">Cancel</button>
    </div>
  </fieldset>
</form>
{{ major }}

{% endblock %}
