{% extends "base.html" %}

{% block title %}Rube Goldberg Competition{% endblock %}

{% block content %}

<h1>Rube Goldberg Competition</h1>

<img src="static/img/IMG_1071.JPG" alt="Rube Goldberg 2012" />
<p><strong>Saturday, February 2, 2013<br />
10AM-3PM</strong><br />
SAC<br />

<p><strong>Registration is now closed! To be placed on the waitlist, please fill out the form 
<a href="https://docs.google.com/spreadsheet/viewform?formkey=dGZSbTRBaTNyczR4YnVPOWNDVmJLVWc6MQ#gid=0">here</a>.</strong>

<p>Teams of 5-8 have 3 hours to design, build, and test a Rube Goldberg machine. 
A Rube Goldberg machine is a machine that performs a simple task in the most complicated manner possible. 
All of the teams' machines are required to perform the same task, which in the past has been pouring hand sanitizer and knocking down bowling pins.

<p><strong>TBP provides all of the materials to the teams and each team is given the same supplies.</strong> 
Materials generally consist of household items, such as sponges, popsicle sticks, and rulers, but also include motors, switches, and magnets.

<p>Check out past competitions at: 
<a href="http://www.youtube.com/watch?v=sQAXZ9w6Oxg&feature=plcp">http://www.youtube.com/watch?v=sQAXZ9w6Oxg&feature=plcp</a>
and 
<a href="http://www.youtube.com/watch?v=22k3gqyrWlI&feature=plcp">http://www.youtube.com/watch?v=22k3gqyrWlI&feature=plcp</a>

<p>Late registration by 1/18/13: $20 per team (t-shirts not included)

<p><strong>First place: $200<br />
Second place: $100<br />
Third place: $50<br />
Fan Favorite: $50</strong>

<p><strong>Questions? Contact: <a href="mailto:tbp.events@gmail.com">tbp.events@gmail.com</a></strong>

{% endblock %}
