{% extends "base.html" %}

{% block title %}Rube Goldberg Competition{% endblock %}

{% block content %}
<!-- TITLE --> 
<div class="row">
    <div class="span12" style="margin-bottom:20px">
    
    <!--<h4>Tau Beta Pi Presents:</h4>--><!--optional-->
    <h1>Rube Goldberg Competition</h1>
    </div>
</div>

<div class="row">
    <div class="span8"> 
    <p class="text-error"><strong>Registration is now closed!</strong> To be placed on the waitlist, please fill out the form 
	<a href="https://docs.google.com/spreadsheet/viewform?formkey=dGZSbTRBaTNyczR4YnVPOWNDVmJLVWc6MQ#gid=0">here</a>.</p>

	<div class="muted">
	<p>Teams of 5-8 have 3 hours to design, build, and test a Rube Goldberg machine. A Rube Goldberg machine is a machine that performs a simple task in the most complicated manner possible. All of the teams' machines are required to perform the same task, which in the past has been pouring hand sanitizer and knocking down bowling pins.
	<p><strong>TBP provides all of the materials to the teams and each team is given the same supplies.</strong> Materials generally consist of household items, such as sponges, popsicle sticks, and rulers, but also include motors, switches, and magnets.
	<p>Check out past competitions at: 
	<a href="http://www.youtube.com/watch?v=sQAXZ9w6Oxg&feature=plcp" style="color:gray">http://www.youtube.com/watch?v=sQAXZ9w6Oxg&feature=plcp</a>
and 
	<a href="http://www.youtube.com/watch?v=22k3gqyrWlI&feature=plcp" style="color:gray">http://www.youtube.com/watch?v=22k3gqyrWlI&feature=plcp</a>

	<p>Late registration by 1/18/13: $20 per team (t-shirts not included)
	
	<dl class="dl-horizontal">
        <dt>First Place:</dt>
        <dd>$200</dd>
        <dt>Second Place: </dt>
        <dd>$100</dd>
        <dt>Third Place: </dt>
        <dd>$50</dd>
		<dt>Fan Favorite:</dt>
		<dd>$50</dd>
    </dl>
	</div>
    </div>
     
    <div class="span4">
      <table class="table">
           <tr>
           <th>Date:</th>
           <td>Sat 02/02/2013</td>
           </tr>
           <tr>
           <th>Time:</th>
           <td>10:00AM-03:00PM</td>
           </tr>
           <tr>
           <th>Location:</th>
           <td>SAC Gym</td>
           </tr>
           <tr>
           <th>Event Type:</th>
           <td>Project</td> <!-- project, social event, mandatory, etc-->
           <tr>
           </tr>
      </table>
      <img src="static/img/IMG_1071.JPG" width="500"></img> 
      <br>
    </div>
</div>

<div class="row">
    <div class="span12" style="margin-top:15px">        
    <p><strong>Questions? Contact: <a href="mailto:tbp.events@gmail.com">tbp.events@gmail.com</a></strong>
    </div> 
</div>
{% endblock %}
