{% extends "base.html" %}

{% block title %}Tutoring Hours{% endblock %}

{% block content %}
<h1 style>Tutoring Hours</h1>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Week 3 Hours</th>
      <th>Week 4 Hours</th>
      <th>Week 5 Hours</th>
      <th>Week 6 Hours</th>
      <th>Week 7 Hours</th>
      <th>Week 8 Hours</th>
      <th>Week 9 Hours</th>
    </tr>
  </thead>
  <tbody>
    {% for tutoring in tutoring_list %}
    <tr>
      <td>{{ tutoring }}</td>
      {% for week in tutoring.get_weeks %}
      <td>{{ week.hours }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
