{% extends "base.html" %}

{% block title %}Awards{% endblock %}

{% block content %}

<h1>Awards</h1>

<p>The UCLA Ca-Epsilon Chapter of Tau Beta Pi has been recognized for many awards throughout the years from the national level. Here is a list of all the awards and the years they were awarded.

<h4>Secretary's Commendation</h4>

<ul>
  <li>1998-1999</li>
  <li>2005-2006</li>
  <li>2006-2007</li>
  <li>2007-2008</li>
  <li>2008-2009</li>
</ul>

<h4>Chapter Projects Award</h4>

<ul>
  <li>1977-1978</li>
  <li>1978-1979</li>
  <li>1979-1980</li>
  <li>1980-1981</li>
  <li>1981-1982</li>
  <li>1982-1983</li>
  <li>1983-1984</li>
  <li>1984-1985</li>
  <li>1985-1986</li>
  <li>1986-1987</li>
  <li>1995-1996</li>
  <li>2009-2010</li>
</ul>

<h4>RC Matthews Outstanding Chapter Award (Honorable Mention)</h4>

<ul>
  <li>1981-1982</li>
</ul>

<h4>McDonald Mentoring Award</h4>

<ul>
  <li>2011 (Bill Goodin)</li>
</ul>

{% endblock %}
