{% extends "base.html" %}

{% block title %}Faculty{% endblock %}

{% block content %}

<h1>Faculty</h1>

<table class="table">
  <tr>
    <th>Bioengineering</th>
    <td><a href="http://www.bioeng.ucla.edu/people/faculty/joint-faculty/james-dunn-m.d.-ph.d">James Dunn</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.bioeng.ucla.edu/people/faculty/core-faculty/daniel-kamei-ph.d">Daniel Kamei</a></td>
  </tr>
  <tr>
    <th>Chemical Engineering</th>
    <td><a href="http://www.chemeng.ucla.edu/people/faculty/eldon-knuth">Eldon L. Knuth</a></td>
  </tr>
  <tr>
    <th>Civil &amp; Enviornmental Engineering</th>
    <td><a href="http://www.cee.ucla.edu/faculty/dong/profile">Stanley B. Dong</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.cee.ucla.edu/faculty/kendall/profile">Donald Kendall</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.cee.ucla.edu/faculty/margulis/profile">Steven A. Margulis</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.seas.ucla.edu/stenstro/">Michael K. Stenstrom</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.cee.ucla.edu/faculty/stewart/profile">Jonathan P. Stewart</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://nees.ucla.edu/wallace/">John W. Wallace</a></td>
  </tr>
  <tr>
    <th>Computer Science</th>
    <td><a href="http://www.cs.ucla.edu/csd/people/faculty_pages/distefano.html">Joseph J. DiStefano III</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.cs.ucla.edu/~lk/">Leonard Kleinrock</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.cs.ucla.edu/~muntz/">Richard R. Muntz</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.cs.ucla.edu/~majid/">Majid Sarrafzadeh</a></td>
  </tr>
  <tr>
    <th>Electrical Engineering</th>
    <td><a href="http://www.ee.ucla.edu/faculty-alwan.htm">Abeer A.H. Alwan</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.ee.ucla.edu/faculty-bal.htm">A.V. Balakrishnan</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.ee.ucla.edu/faculty-dolecek.htm">Lara Dolecek</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.ee.ucla.edu/faculty-kaiser.htm">William J. Kaiser</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.ee.ucla.edu/faculty-mori.htm">Warren B. Mori</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.ita.ucla.edu/people/advisory-board/henry-samueli">Henry Samueli</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.ee.ucla.edu/faculty-villasenor.htm">John D. Villasenor</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.ee.ucla.edu/~wesel/">Rick Wesel</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.ee.ucla.edu/faculty-willson.htm">Alan N. Willson, Jr.</a></td>
  </tr>
  <tr>
    <th>Mechanical &amp; Aerospace Engineering</th>
    <td><a href="http://www.mae.ucla.edu/people/faculty/greg-carman">Gregory P. Carman</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.engineer.ucla.edu/explore/leadership/vijay-k.-dhir-dean">Vijay Dhir</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.bioeng.ucla.edu/people/faculty/joint-faculty/chih-ming-ho-ph.d">Chih-Ming Ho</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.mae.ucla.edu/people/faculty/ann-karagozian">Ann R. Karagozian</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.mae.ucla.edu/people/faculty/chang-jin-kim">Chang-Jin Kim</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.mae.ucla.edu/people/faculty/adrienne-lavine">Adrienne G. Lavine</a></td>
  </tr>
  <tr>
    <th>Material Science and Engineering</th>
    <td><a href="http://www.seas.ucla.edu/ms/faculty1/dunn.html">Bruce S. Dunn</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.ms.ucla.edu/people/bios/goorsky">Mark S. Goorsky</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.mae.ucla.edu/people/faculty/vijay-gupta">Vijay Gupta</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.ms.ucla.edu/people/bios/dwight-streit">Dwight Streit</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.seas.ucla.edu/ms/faculty1/tu.html">King-Ning Tu</a></td>
  </tr>
</table>

{% endblock %}
