{% extends "base.html" %}

{% block title %}Tau Beta Pi presents our 2nd Annual Charity Poker Tournament!{% endblock %}

{% block content %}
<h1>Tau Beta Pi presents our 2nd Annual Charity Poker Tournament!</h1>
<p><strong>Reminder:</strong>

<p>The tournament is <strong>this Wednesday!</strong> 
Sign in begins at 6:30PM, so prepare to come early! Open play begins at 7:00PM. 
Click <a href="http://career.ucla.edu/Students/JSJS/Venues/BoelterHallPenthouse.aspx">here</a>
for directions on how to get to the Penthouse. 
If you didn't get a chance to sign up, no worries! 
You can buy in at the door for $15. 
Remember there are fantastic prizes to win, and all proceeds benefit TBP's Engineering Outreach Program, so come join us and have fun!

<p><strong>Wednesday, March 6, 2013<br />
Boelter Penthouse<br />
7PM-10PM</strong>

<p><strong>Prizes:</strong><br />
First Place: Nexus 7<br />
Second Place: 2 tickets to Six Flags Magic Mountain<br />
Third Place: $25 Amazon Gift Card

<p><strong>Questions? Contact: <a href="mailto:tbp.events@gmail.com">tbp.events@gmail.com</a></strong>
{% endblock %}
