{% extends "base.html" %}

{% block title %}Requirements{% endblock %}

{% block content %}

<h1>Requirements</h1>

<h4>Candidate Requirements</h4>

<ul>
  <li>Bent Polish</li>
  <li>Candidate Quiz</li>
  <li>Candidate Meet and Greet</li>
  <li>Social Event</li>
  <li>Signature Book</li>
  <li>Community Service</li>
  <li>Initation Fee</li>
  <li>Tutoring</li>
  <li>Engineering Futures</li>
  <li>Resume Submission</li>
  <li>Professor Interview</li>
  <li>Attend Initation Ceremony and Banquet</li>
</ul>

<h4>Distinguished Active Requirements</h4>

<ul>
  <li>Tutoring (2 hrs/week from Week 3 to Week 9) and/or EMCC</li>
  <li>Two events hosted by TBP (i.e. infosessions, socials, Engineering Futures, competitions, etc.)</li>
</ul>

<p>Once members have completed the requirements to become distinguished actives they are eligible to purchase a white stole to wear at graduation (see picture). Members will receive $5 off their stole for completion of the requirements in subsequent quarters. All members who complete the distinguished active requirements for a given quarter will be invited to attend the next TBP banquet.

<p><strong>Questions? Contact: <a href="mailto:taubetapi@seas.ucla.edu">taubetapi@seas.ucla.edu</a></strong>

{% endblock %}
